body {
    font-family: "Geneva";
    color: black;
}

.navbar {
    height: 75px;
    background-color: #F6F0F0;
}

.navbar-brand {
    background-color: lightgreen;
    color: black;
    font-size: 30px;
    font-family: "Andale Mono";
    width: 190px;
    height: 75px;
    padding: 10px;
    line-height: 90%;
    text-align: center;
}

.navbar-brand:hover {
    background-color: #7864F6;
    color: white;
}

.nav-link {
    color: black;
    display: inline-block;
}

.nav-link:hover {
    color: #7864F6;
}

.container {
    margin-top: 50px;
    border: 1px solid black;
    font-family: "Andale Mono";
}

.row1 {
    margin-top:10px;
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.row3 {
    background-color: #F6F0F0;
    color: #7864F6;
    text-align: center;
}

.row3:hover {
    background-color: #7864F6;
    color: white;
}

.btn {
    background-color: lightcyan;
    color: black ;
    border: none;
    font-family: Geneva;
}

.btn:hover {
    background-color: #7864F6;
    color: white;
}

.form-group {
    font-family: Geneva;
}

.form-check {
    font-family: Geneva;
}

.carousel-caption {
    background-color: white;
    color: black;
    opacity: 0.9;
}

h1 {
    text-align: center;
    font-size: 18px;
}

#work {
    font-size: 14px;
    text-align: center;
    background-color: lightyellow;
    border: black;
    padding: 20px;
}

.card-footer {
    color:  #7864F6;
    font-size: 11px;
    text-align: center;
}

#race {
    font-size: 11px;
    text-align: center;
}
